		
				#group{
					margin: 50px;
					 border: 2px solid #1c1d26;
					border-radius: 10px;
					background-color: #8e8e8e;
					padding:0;
				}
				
				.createdGroupTitle {
				
					width: 100%;
					margin:0;
					
				}
			
				.createdGroupTitle h3 {
					margin:0;
					
					padding: 10px;
				}
				
				.createdGroupText {
				
					width: 100%;
					background-color:#1c1d26;
					padding:10px 0 10px 0;
				}
				
				.createdGroupText p {
				
					color: white;
					padding:0 10px 0 10px;
					margin:0;
				}
				.createdGrouptime {
				
					padding: 0;
					width: 100%;
				}
				
				.createdGroupTime p {
				
					margin:5px;
					padding: 0px;
				}
			
				nav ul {

					height:200px; width:18%;
				}

				nav ul {
					
					overflow:hidden; overflow-y:scroll;
				}